@font-face {
  font-family: assistant-regular;
  src: url("../webfonts/assistant-v4-latin-regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "assistant-regular";
}

.container{
    display:flex;
}

.sel-body{
    flex-grow: 1;
}

header {
  z-index: 1;
  position: fixed;
  background: rgb(37, 37, 37);
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: #19b3d3;
}

.logout_btn {
  padding: 5px;
  background: #19b3d3;
  text-decoration: none;
  float: right;
  text-transform: uppercase;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
  background: #0b87a6;
}

.sidebar {
  z-index: 1;
  top: 0;
  float: left;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  border-width: 1px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  background: rgb(0, 168, 255);
  background: -moz-linear-gradient(
    22deg,
    rgba(0, 168, 255, 1) 0%,
    rgba(62, 224, 237, 1) 60%,
    rgba(230, 251, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    22deg,
    rgba(0, 168, 255, 1) 0%,
    rgba(62, 224, 237, 1) 60%,
    rgba(230, 251, 255, 1) 100%
  );
  background: linear-gradient(
    22deg,
    rgba(0, 168, 255, 1) 0%,
    rgba(62, 224, 237, 1) 60%,
    rgba(230, 251, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a8ff",endColorstr="#e6fbff",GradientType=1);
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: rgb(0, 0, 0);
  margin-top: 0;
  text-shadow: 0 0px #000000;
  margin-bottom: 20px;
}

.sidebar .item {
  color: rgb(119, 0, 60);
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  transition: 0.5s;
  transition-property: background;
}

.breaker {
  width: 70%;
  background-color: rgb(71, 71, 71);
  transition: 0.5s;
  transition-property: background-color;
}

.breaker:hover {
  background-color: purple;
}

.sidebar .item:hover {
  background: #41a4f5;
}

.sidebar .item-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.sidebar .side-item {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.8s;
  transition-property: background;
}

.sidebar .side-item:hover {
  background: #f5b62f;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #19b3d3;
}

#check:checked ~ .sidebar {
  left: -185px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

.deletebttn {
  width: 80px;
  height: 35px;
  text-decoration: underline;
  cursor: pointer;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 85%;
  z-index: 2;
  font-family: sans-serif;
  margin-top: 70px;
  margin-left: 250px;
  border-spacing: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-row-field {
  margin: 0px;
  padding: 15px;  
  text-align: center;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: thin solid #009879;
}

.styled-table tbody tr.active-row {  
  background-color: #bdbdbdc4;
  color: #000000;
}
