body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  background: #111;
}

.btn {
  color: #fff;
  border: none;
  margin: 20px;  
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: box-shadow;
}

.btn-primary {
  background: #50a7ff;
  box-shadow: 0 0 25px #50a7ff;
}

.btn-primary:hover {
  box-shadow: 0 0 5px #50a7ff, 0 0 25px #50a7ff, 0 0 50px #50a7ff,
    0 0 100px #50a7ff;
}

.btn-success {
  background: #03d29f;
  box-shadow: 0 0 25px #03d29f;
}

.btn-success:hover {
  box-shadow: 0 0 5px #03d29f, 0 0 25px #03d29f, 0 0 50px #03d29f,
    0 0 100px #03d29f;
}

.btn-danger {
  background: #ff7675;
  box-shadow: 0 0 25px #ff7675;
}

.btn-danger:hover {
  box-shadow: 0 0 5px #ff7675, 0 0 25px #ff7675, 0 0 50px #ff7675,
    0 0 100px #ff7675;
}

.btn-warning {
  background: #f0df51;
  box-shadow: 0 0 25px #f0df51;
}

.btn-warning:hover {
  box-shadow: 0 0 5px #f0df51, 0 0 25px #f0df51, 0 0 50px #f0df51,
    0 0 100px #f0df51;
}
