@font-face {
  font-family: assistant-regular;
  src: url("../webfonts/assistant-v4-latin-regular.ttf");
}

.centered-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "assistant-regular";
}

.title {
  text-decoration: underline;
}

.imageBg {
  height: 100%;
  background: url(../images/register-background.jpeg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-blend-mode: lighten;
  -o-background-size: cover;
  background-size: cover;
}

.login-form {
  opacity: 0.9;
}

form {
  background: #ffffff;
  z-index: 1;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
  /* transform: translate(-40%, -40%); */
  width: 50%;
  padding: 25.2px 50px 50px 50px;
  border-radius: 10px;
  display: inline-flex;
  color: #000000;
  border: none;
  flex-direction: column;
}

/* Add padding to containers */
.container {
  padding: 0px;
  margin: 10px, 10px, 10px, 10px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="upload"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 12px 0;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
  color: black;
  border-bottom: 2px solid red;
}

.headTitle {
  text-align: left;
}

input[type="upload"] {
  align-items: flex-end;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus,
input[type="upload"]:focus {
  border-color: #61ee5d;
  outline: none;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: #252525;
  text-shadow: 0 0 15px #ffffff;
}

.heading {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
  opacity: 1;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Overwrite default styles of hr */
hr {
  border: 1.5px solid #000000;
}

.flex-container {
  display: flex;
  align-items: center;
  margin: 0px;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-container > p {
  margin-left: 0px;
}

.error-message {
  align-self: center;
  color: red;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.registerbtn {
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 5px;
  transition: 0.8s;
  align-content: center;
  transition-property: box-shadow;
  margin: 8px 0;
  border: none;
  width: 80px;
  cursor: pointer;
  width: 100%;
  background: #252525;
}

.registerbtn:hover {
  box-shadow: 0 0 5px #96ffa7, 0 0 25px #eec494, 0 0 50px #f87f7f,
    0 0 100px #61ee5d;
  opacity: 1;
}

/* Set a style for the submit/register button 
.registerbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
*/
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: transparent;
  text-align: center;
}
